*{
    margin: 0 auto;

}

/* //////////////////Header////////////////// */
header{
    background-color: #D5E9EC;
    width: 100%;
    position: relative;
}
header img{
    display: flex;
    justify-content: center;
    width: 8%;
    height: auto;
}

#user {
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 45px;
    width: 12%;
    height: 50%;
    margin-top: 1%;
    color: black;
}
#menu {
    font-size: 45px;
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 8%;
    margin-top: 1%;
    text-align: center;
}
#menu:hover {
    cursor: pointer;
}

/* //////////////////Footer////////////////// */

footer {
    width: 100%;
    background-color: #106B7E;
}
footer p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 40px 0px;
}