*{
    margin: 0;
    padding: 0;
}

/* //////////////////Header////////////////// */
header{
    background-color: #D5E9EC;
    width: 100%;
    position: relative;
}

header nav{
    display: flex;
}

header nav img{
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100px;
}

header nav div{
    display: flex;
    float: right;
    align-items: center;
    padding-right: 20px;
}

header nav div .fas{
    font-size: 30px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

/* //////////////////Footer////////////////// */

footer {
    width: 100%;
    background-color: #106B7E;
}

footer p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 40px 0px;
}