*{
    margin: 0 ;
}

header{
    background-color: #D5E9EC;
    width: 100%;
    position: relative;
    
}
header img{
    display: flex;
    justify-content: center;
    width: 8%;
    height: auto;
    margin: 0 auto ;
}

#user {
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 45px;
    width: 12%;
    height: 50%;
    margin-top: 1%;
}
#menu {
    font-size: 45px;
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 8%;
    margin-top: 1%;
    text-align: center;
}

.card{
    display: flex;
}