.card-body{
    background-color: #D5E9EC;
}

div .card{
    z-index: -1 ;
    position: static !important;
}

#signMain{
    height: 75.7vh;
}

/* #shareSondage, #newSondage{
    margin: auto!important;
} */
