.bar {
    /* font-size: 10px */
    width: 30em;
    height: 1em;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    margin: auto;
  }

  .bar .percentage {
    position: relative;
    font-size: 1em;
    background: tomato;
    height: 1em;
    border-radius: 0.5em;
  }

  #sondage{
    background-color: #D5E9EC;
    padding: 100px 15px;
    width: 50%;
    border-radius: 15px;
    margin: auto;
  }

  #sondage h3{
    text-align: center;
    margin: 10px 0;
  }