.bar {
    /* font-size: 10px */
    width: 30em;
    height: 1.5em;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  }

  .bar .percentage {
    position: relative;
    font-size: 1.5em;
    background: tomato;
    height: 1em;
    border-radius: 0.5em;
    overflow-y: hidden;
  }

  #sondage p{
    padding: 5px 0px 5px 10px;
  }

  .bar .percentage p{
    color:white;
    font-size: 0.8em;
    padding: 0px 0px 0px 10px!important;
  }

  #sondage{
    background-color: #D5E9EC;
    padding: 100px 15px;
    width: 50%;
    border-radius: 15px;
    margin: auto;
  }

  #sondage h4{
    margin: 10px 0;
    padding-left: 10px;
  }

  #sondage .sond{
    width: 30em;
    margin: 0 auto;
    display: block;
    
  }

 